.badge{
  display:flex;
  flex-direction:row;
  align-items:center;
  gap : 15px;
}
body{
  background-color: aliceblue;
}
@media(max-width:600px){
.badge{
  flex-direction:column;
  align-items:center;
  gap : 15px;
}}
.facility{
  display: block;
}